@import "compass/css3/border-radius";

// * {
//   transition: all .2s linear;
//   -webkit-transition: all .2s linear;
//   -moz-transition: all .2s linear;
//   -o-transition: all .2s linear;
// }

$black: #3e3e3e;
$blue: #2059a6;
$red: rgb(227, 46, 61);

.hide {
  display: none;
}

a[ng-click] {

  &:hover {
    cursor: pointer;
  }
}

.btn {
  @include border-radius(.5em);
  font-size: 1.4em;
  color: #fff;
  padding: .5em 1em;
  background: $red;

  &:hover {
    background: darken( $red, 15% );
  }


  &.btn-success {

    background: $blue;

    &:hover {
      background: darken( $blue, 15% );
    }
  }
}

.container {
  position: relative;
  width: 800px;
  max-width: 100%;
  padding: 3em 2em;
  margin: 0 auto;
}

img.logo {
  position: absolute;
  top: 1em;
  left: 0;
  width: 7em;
}

a.nav-btn {
  position: absolute;
  top: 2em;
  right: 0;
}

.title-section {
  text-align: center;

  h2 {
    // wtf text
    font-size: 1em;
    font-weight: 100;
    color: lighten( $black, 15% );
  }

  h1 {
    // fact title
    color: $black;
  }
}

.launch-buttons {
  text-align: center;

  .btn-success {
    margin-left: 1em;
  }
}

