.home( ng-controller="LandingPageController" )
  .title-section
    %h2
      %i What the fuck has NASA done to make your life awesome?

    %h1 {{fact.title}}

  .launch-buttons
    %a.btn( ng-click="vote('downvote')" ) Fail to launch
    %a.btn.btn-success( ng-click="vote('upvote')" ) That rockets!

  %p Whoa, really?
  %p {{fact.description}}
  %a( ng-href="{{fact.url}}" target="_blank" ) {{fact.url}}


  .history( ng-if="factHistory.length > 1" )
    %hr/

    %h5 What awesome facts have you seen so far?

    %ul
      %li( ng-repeat="f in factHistory" ng-hide="$last" ) {{f.title}}