.all-facts( ng-controller="AllFactsController" )

  %h2 Listing all facts

  %ul
    %li( ng-repeat="fact in facts" )
      %span.upvotes {{ fact.upvote }}
      %span.downvotes {{ fact.downvote }}

      %a( ng-href="/{{fact.id}}" ) {{ fact.title }}
      |
      %a( ng-href="{{fact.url}}" ) Source