.all-facts( ng-controller="AllFactsController" )

  .text-center
    %h2 Listing all facts

  %ul
    %li( ng-repeat="fact in facts" )
      %span.downvotes {{ fact.downvote }}
      %span.upvotes {{ fact.upvote }}
      %a( ng-href="{{fact.url}}" target="_blank" ) Source
      |
      %a( ng-href="/{{fact.id}}" ) {{ fact.title }}